.message{
    width: 100%;
    margin-bottom: 15px;
    .message-box{
        border: 1px solid #ddd;
        background-color: #f8f8f8;
        border-radius: 8px;
        display: inline-block;
        padding: 7px 12px;
    }
    p.time{
        font-weight: bold;
        font-size: 12px;
        color: #ccc;
        margin: 0;
        margin-top: 5px;
    }
}
.my-message{
    text-align: right;
    .message-box{
        background-color: rgb(120, 192, 120);
    }
}